div.parent-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 110px;
    width: 110px;
    gap: 16px;
    margin-top: 50px;
    min-width: 110px;
    min-height: 110px;
}

div.custom-icon-main-div {
    height: 100px;
    width: 100px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    background-color: transparent;
    transform: rotate(-45deg) scale(0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

div.parent-div:hover div.custom-icon-main-div {
    transform: rotate(-45deg) scale(1);
}

div.parent-div:hover span.icon-name {
    color: rgba(255, 255, 255, 1);
}

div.custom-icon-main-div img {
    height: 70%;
    transform: rotate(45deg);
}

span.icon-name {
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #eaeaead0;
    transition: all 150ms ease-in-out;
}

@media only screen and (max-width: 1440px) {
    div.parent-div {
        height: 90px;
        width: 90px;
    }

    div.custom-icon-main-div {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width: 1100px) {
    div.parent-div {
        height: 70px;
        width: 70px;
    }
}

@media only screen and (max-width:800px) {
    div.parent-div {
        height: 110px;
        width: 110px;
    }

    div.custom-icon-main-div {
        height: 100px;
        width: 100px;
    }
}