section.header-section {
    min-height: 20vh;
    width: 100%;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: row;
    user-select: none;
    min-width: 325px;
}

section.header-section>div:first-child {
    /* border: 1px solid #765564 */
}

section.header-section>div:first-child>span:first-child {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: rgba(74, 5, 234, 1);
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 20px;
}

section.header-section>div:first-child>div.bloggios-motto {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: rgb(17, 17, 17);
    font-size: 64px;
    margin-top: 0px;
}

section.header-section>div:nth-child(2) {
    /* border: 1px solid #645758; */
    max-width: 50%;
    background-image: url(../../Assets/SVG/programming.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0 1px 15px rgba(0, 0, 0, 0.2));
}

div.bloggios-bio {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    text-align: justify;
    text-decoration: rgb(71, 85, 105);
    line-height: 28px;
    width: 85%;
    margin-top: 10px;
}

@media only screen and (max-width: 1420px) {
    section.header-section {
        padding: 10vh 4vw;
    }
}

@media only screen and (max-width: 1280px) {
    section.header-section>div:first-child>div.bloggios-motto {
        font-size: clamp(34px, 5vw, 64px);
    }

    div.bloggios-bio {
        font-size: clamp(14px, 1vw, 18px);
    }

    section.header-section>div:first-child>span:first-child {
        font-size: clamp(18px, 1.4vw, 20px);
    }
}

@media only screen and (max-width: 850px) {
    section.header-section>div:nth-child(2) {
        display: none;
    }

    section.header-section>div:first-child>span:first-child {
        font-size: clamp(14px, 3vw, 25px);
    }

    section.header-section>div:first-child>div.bloggios-motto {
        font-size: clamp(34px, 8vw, 60px);
    }

    div.bloggios-bio {
        font-size: clamp(12px, 2vw, 18px);
    }
}