section.our-services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16vh;
    width: 100%;
}

section.our-services>div.our-services-container {
    width: 70%;
    height: auto;
    padding: 100px 7vw;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

div.our-services-container>span {
    font-size: 50px;
    width: 100%;
    text-align: center;
    line-height: 80px;
    font-weight: 500;
}

.our-services-container .list-row {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-row>div:first-child {
    width: 45%;
}

.list-row>div:first-child>img {
    width: 100%;
    transform: scale(0.95);
    transition: all 250ms ease-in-out;
}

.list-row:hover>div:first-child>img {
    transform: scale(1);
}

.list-row>div:last-child {
    width: 45%;
    padding: 16px 0px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.right-pane-services>div>div {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 50px;
}

div.right-pane-services>div>span {
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    color: rgba(255, 255, 255, 0.8);
}

div.right-pane-services button {
    font-size: 18px;
    width: fit-content;
    padding: 7px 20px;
    letter-spacing: 1px;
    border: 0.4px solid rgb(77, 77, 77);
    outline: none;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 150ms ease-in-out;
}

div.right-pane-services button:hover,
button.view-all-button:hover {
    background-color: #f9f9f9;
    color: #000;
}

img.images:nth-child(1) {
    border-radius: 20px;
}

button.view-all-button {
    width: 60%;
    height: 50px;
    background-color: rgb(56, 56, 56);
    align-self: center;
    outline: none;
    border: 0.4px solid rgb(77, 77, 77);
    color: #ffff;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    border-radius: 25px;
    text-transform: uppercase;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

button.view-all-button:active,
div.right-pane-services button:active {
    opacity: 0.8;
}

@media only screen and (max-width: 1488px) {
    div.right-pane-services button {
        font-size: 14px;
        padding: 7px 20px;
        letter-spacing: 1px;
    }

    div.right-pane-services>div>div {
        font-size: 22px;
    }

    div.right-pane-services>div>span {
        font-size: 12px;
        font-weight: 100;
        text-align: justify;
        color: rgba(255, 255, 255, 0.8);
    }
}

@media only screen and (max-width: 1260px) {
    .list-row>div:last-child {
        padding: 0px 0px;
        justify-content: space-around;
    }

    div.our-services-container>span {
        font-size: 40px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 1000px) {
    .our-services-container .list-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list-row>div:first-child {
        width: 65%;
    }

    .list-row>div:last-child {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    div.right-pane-services button {
        width: 100%;
        height: 10%;
        margin-top: 10px;
    }

    section.our-services>div.our-services-container {
        padding: 40px 4vw;
        gap: 70px;
    }

    button.view-all-button {
        width: 85%;
        height: 40px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 770px) {
    div.our-services-container>span {
        font-size: 30px;
        line-height: 44px;
    }

    section.our-services>div.our-services-container {
        width: 85%;
    }
}

@media only screen and (max-width: 525px) {
    section.our-services>div.our-services-container {
        width: 95%;
        padding: 40px 2vw;
    }

    div.our-services-container>span {
        font-size: 25px;
        line-height: 44px;
    }

    button.view-all-button {
        width: 85%;
        height: 34px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 338px) {
    div.our-services-container>span {
        font-size: 20px;
        line-height: 34px;
    }
}