section.technologies-main {
    height: auto;
    width: 100%;
    padding: 20vh 0;
    display: flex;
    user-select: none;
}

div.technologies-container {
    min-height: 34vh;
    width: 70%;
    background-image: url(../../Assets/SVG/large-triangles.svg);
    border-top-right-radius: 140px;
    background-attachment: fixed;
}

div.technologies-container>div {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    width: 100%;
    height: auto;
    border-top-right-radius: 140px;
    padding: 40px;
}

div.technologies-container>div>span.title {
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    color: #f9f9f9;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
}

div.technologies-container>div>span.subtitle {
    font-family: 'Inter', sans-serif;
    color: #eaeaead0;
    font-size: 16px;
    display: flex;
    width: 60%;
    margin-top: 16px;
}

div.technologies-icons-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1668px) {
    div.technologies-container {
        width: 80%;
    }
}

@media only screen and (max-width: 1215px) {
    div.technologies-container {
        width: 90%;
    }
}

@media only screen and (max-width:1000px) {
    div.technologies-container>div>span.subtitle {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    div.technologies-container>div>span.title {
        font-size: 28px;
    }

    div.technologies-container>div>span.subtitle {
        width: 100%;
    }

    div.technologies-container {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    div.technologies-container>div {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
}

@media only screen and (max-width:500px) {
    div.technologies-container>div>span.title {
        font-size: 25px;
    }

    div.technologies-container>div>span.subtitle {
        font-size: 12px;
    }
}