@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.left-pane {
    display: flex;
    flex-direction: column;
}

div.left-pane>span,
div.right-pane>span {
    font-size: calc(0.25vw + 0.25vh + 2vmin);
    /* font-size: 25px; */
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Poppins', serif;
    margin-bottom: 10px;
}

.left-pane-featured-list {
    display: flex;
    flex-direction: column;
    margin-top: calc(0.14vw + 0.14vh + 1.4vmin);
    border-radius: 20px;
    transition: all 250ms ease-in-out;
    padding: 16px 16px;
    cursor: pointer;
    border-color: #0000;
    border-width: 2px;
    border-style: solid;
}

.left-pane-featured-list:hover {
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 20px 4px rgba(255, 255, 255, 0.2);
}

span.featured-title {
    /* font-size: 25px; */
    font-size: calc(0.25vw + 0.25vh + 2vmin);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    transition: all 250ms ease-in-out;
}

span.featured-subtitle {
    font-size: calc(0.07vw + 0.07vh + 1.4vmin);
    /* 14px */
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #ebebeb;
    transition: all 250ms ease-in-out;
}

.left-pane-featured-list:hover span.featured-title {
    letter-spacing: 1px;
}

div.right-pane {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.right-pane>.development-technologies>.individual {
    display: flex;
    background-color: #0000;
    flex-direction: column;
    height: auto;
    position: relative;
    gap: 20px;
}

div.right-pane-list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border-color: #0000;
    border-width: 2px;
    border-style: solid;
    transition: all 250ms ease-in-out;
}

div.right-pane-list:hover {
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 20px 4px rgba(255, 255, 255, 0.2);
}

div.right-pane-list:hover>.sub-list-title {
    letter-spacing: 1px;
}

div.right-pane-list>.sub-list-title {
    font-size: calc(0.11vw + 0.11vh + 1.6vmin);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: all 250ms ease-in-out;
}

div.right-pane-list>.sub-list-subtitle {
    font-size: calc(0.08vw + 0.08vh + 1vmin);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}