@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

div.mobile-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    z-index: 2;
    transition: all 250ms ease-in-out;
}

div.burger-shown {
    background-color: rgba(0, 0, 0, 1);
}

div.mobile-top-bar img {
    height: 5vh;
    pointer-events: auto;
}

div.mobile-top-bar i {
    color: #f9f9f9;
    font-size: 28px;
    transition: all 250ms ease-in-out;
}

.menu-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px 20px;
    gap: 20px;
    top: -6vh;
    opacity: 0;
    z-index: -1;
    transition: all 250ms ease-in-out;
}

div.active-burger {
    opacity: 1;
    top: 8vh;
    z-index: 4;
    background-color: rgba(0, 0, 0, 1);
}

.menu-content span {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #f9f9f9;
    font-weight: 600;
}

.menu-content div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.menu-content div:hover {
    padding: 0 4px;
}

div.items-main-div {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px;
    position: absolute;
    opacity: 0;
    top: 10vh;
    z-index: -10;
    transition: all 250ms ease-in-out;
    box-shadow: 0px 3px 25px -7px rgba(33, 27, 39, 1);
}

div.active-solutions {
    z-index: 1;
    top: 220px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);
}

div.items-main-div>div {
    border-radius: 10px;
    width: 45%;
    padding: 10px;
    background-color: rgba(68, 2, 250, 0);
    font-weight: bold;
    box-shadow: inset 0px 0px 10px -2px rgba(243, 243, 243, 1);
    border-width: 2px;
    border-style: solid;
    border-color: #f9f9f9;
    cursor: pointer;
    transition: all 250ms ease-in-out;

}

div.items-main-div>div:hover {
    transform: scale(1.05);
}

@media (width<=385px) {
    div.items-main-div>div {
        font-size: 14px;
    }
}

@media (width<=347px) {
    div.items-main-div>div {
        font-size: 12px;
    }
}

@media (width<=310px) {
    div.items-main-div>div {
        font-size: 10px;
    }
}