* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Asset/Svg/sun-tornado.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    user-select: contain;
}



@media only screen and (max-width: 775px) {
    * {
        padding: 0;
        margin: 0;
        overflow-x: hidden !important;
    }

    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px solid #aa3131;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #8c8c8c;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px solid #521e1e;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #666666;
}

::-webkit-scrollbar-corner {
    background: transparent;
}