div.bloggios-view-all-div {
    height: 80px;
    width: 80px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    opacity: 0.9;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.90);
    cursor: pointer;
    border: 0.4px solid rgba(255, 255, 255, 0.6);
    transition: all 250ms ease-in-out;
}

div.bloggios-view-all-div:hover {
    transform: scale(1);
}

div.bloggios-view-all-div i {
    font-size: 40px;
    color: rgb(255, 255, 255);
}